<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>index</title>
        @require("/View/header.html")
        <script>
            var action_type="";
            window.onload=function (){
            }
            ///新增
            function _add(){
                action_type="add";
                $("#fm").form("clear");
                $("#dlg").dialog("open");
            }
            ///修改
            function _modify(){
                action_type="modify";
                var temp_row=$("#dg").datagrid("getSelected");
                if(temp_row==null)
                {
                    $.messager.alert("提示","请选择需要修改的记录");
                    return;
                }
                $("#fm").form("load",temp_row);
                $("#dlg").dialog("open");
            }
            ///删除
            function _delete(){
                var temp_row=$("#dg").datagrid("getSelected");
                if(temp_row==null)
                {
                    $.messager.alert("提示","请选择需要修改的记录");
                    return;
                }
                $.messager.confirm('确认','是否确认删除这条记录?',function(r){
                    if (r){
                        $.ajax({
                            url:'/index.php/dept/delete',
                            data:{
                                deptno:temp_row["deptno"]
                            },
                            success:function (result){
                                var result=eval("("+result+")");
                                if(result.success)
                                {
                                    $.messager.alert("提示","删除成功","",function (){
                                        $("#dg").datagrid("reload"); 
                                    });
                                }
                                else $.messager.alert("提示","删除失败");
                            }
                        });
                    }
                });
            }
            
            ///保存表单记录
            function save(){
                var temp_url="/index.php/dept/"+action_type;
                $('#fm').form('submit',{
                    url: temp_url,
                    onSubmit: function(){
                        return $(this).form('validate');
                    },
                    success: function(result){
                        var result = eval('('+result+')');
                        if (result.success){
                            $.messager.alert("提示",result.message,"icon-tip",function (){
                                $('#dlg').dialog('close');
                                $("#dg").datagrid("reload"); 
                            });
                        } else {
                            $.messager.alert("提示",result.message);
                        }
                    }
                });
            }
        </script>
    </head>
    <body>
        <table id="dg" class="easyui-datagrid" style="width:100%;height:100%"
                url="/index.php/dept/get"
                toolbar="#toolbar" pagination="true"
                rownumbers="true" fitColumns="true" singleSelect="true">
            <thead>
                <tr>
                    					<th field="dname" width="50">dname</th>
					<th field="loc" width="50">loc</th>

                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="_add()">增加</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="_modify()">修改</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="_delete()">删除</a>
        </div>
        
        <div id="dlg" title="详细信息" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
                closed="true" buttons="#dlg-buttons">
            <form id="fm" method="post">
                <div>
                    <input name="deptno" hidden="hidden"/>

                </div>
                <table>
                    <tr>
						<td>dname:</td>
<td><input name="dname" class="easyui-textbox" required="true"></td>
					</tr>
<tr>
						<td>loc:</td>
<td><input name="loc" class="easyui-textbox" required="true"></td>
					</tr>

                </table>
            </form>
        </div>
        <div id="dlg-buttons">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="save()" style="width:90px">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">关闭</a>
        </div>
    </body>
</html>